.welcom__msg,
.back__button {
  padding: 20px 0;
}
.welcom__msg {
  text-align: center;
}
.info {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}
.settings__container {
  display: flex;
  min-height: 100vh;
}
.settings__container .data {
  flex-direction: column;
  width: 100vw;
}
