input:not([type="checkbox"]) {
  width: 426px;
  height: 64px;
  border: 1px solid #8692a6;
  border-radius: 6px;
  padding: 23px 0 24px 30px;
  outline: none;
}
label {
  color: #696f79;
  font-weight: 500;
  margin-bottom: 14px;
}
input::placeholder {
  color: #8692a6;
  font-size: 14px;
  font-weight: 500;
}
input[type="number"] {
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
