.wrong__alert {
  border-radius: 5px;
  background-color: #f2f4f6;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px #f9f9f9;
  z-index: 10;
}
.alert__name {
  color: red;
  font-size: 20px;
}
.alert__body {
  color: #d10;
  font-size: 16px;
  margin-top: 15px;
  line-height: 1.7;
}
.alert__close {
  background-color: #dc3741;
  color: white;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
