.header {
  display: flex;
  justify-content: flex-end;
  margin: 5px 20px auto auto;
  align-items: center;
}
.avatar {
  width: 70px;
  height: 70px;
}
.user__info {
  margin-right: 22px;
}
main {
  width: 100%;
}
.header a {
  display: block;
}
.DARK a {
  color: white;
}
.LIGHT a {
  color: #000;
}
