.homepage {
  display: flex;
  min-height: 100vh;
}
.statistics__container {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__head {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 800;
}
